<h1>All users</h1>
<p><a href="/create" class="btn btn-success">Add new user</a></p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Additional_Info</th>
            <th scope="col"></th>
        </tr>
    </thead>
    {{#each users}}
        <tr scope="row">
            <td>{{this.dataValues.name}}</td>
            <td>{{this.dataValues.age}}</td>
            <td>{{this.dataValues.additional_info}}</td>
            <td>
                <a href="/update/users/{{this.dataValues.id}}" class="btn btn-primary" >Edit</a> |
                <form action="/delete/users/{{this.dataValues.id}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
    {{/each}}
</table>
